<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moutamid.routineapp">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.moutamid.routineapp.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoutineApp"
        tools:targetApi="31">
        <activity
            android:name="com.moutamid.routineapp.activities.PaymentActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.CompletedActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.TimerActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.EditRoutineActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.RoutineStartActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.AddCustomStepsActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.CustomRoutineActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.SelectionActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.ForgotActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name="com.moutamid.routineapp.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moutamid.routineapp.MainActivity"
            android:exported="false"/>

        <receiver
            android:name="com.moutamid.routineapp.notification.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.moutamid.routineapp.notification.RestartBootReceiiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>